<div class="container">
  <h1>Beers</h1>
  <div class="row">
    <% beers.forEach((beer) => { %>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="<%= beer.image_url %>" alt="<%= beer.name %>" />
        <div class="card-body">
          <h5 class="card-title"><%= beer.name %></h5>
          <h3 class="card-tagline"> <%= beer.tagline %></h3>
          <p class="card-text"><%= beer.description %></p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>